* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header ul {
    display: flex;
}

header li {
    margin: 0 15px;
}

header li a {
    font-size: 1.5em;
    color: #191c03;
}

@media(max-width: 700px) {
    header {
        flex-direction: column;
        height: 250px;
        justify-content: center;
    }
}

.capa {
    background-image: url(../img/capa.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.capa h1 {
    font-size: 3.2em;
    margin-bottom: 15px;
}

.capa h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.capa .btn {
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 50px;
    color: #191c03;
    text-transform: uppercase;
}

@media(max-width: 700px) {
    .capa h1 {
        font-size: 2.5em;
    }

    .capa h3 {
        font-size: 1.5em;
    }
}

.apto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.apto h3 {
    font-size: 2em;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.apto p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.apto hr {
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}

.apto .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.apto .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center center;
}

.apto .grid li.small {
    flex-basis: 40%;
}

.apto .grid li.large {
    flex-basis: 60%;
}

@media(max-width: 700px) {

    .apto .grid li.small,
    .apto .grid li.large {
        flex-basis: 100%;
    }
}

.casos {
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.casos h3 {
    font-size: 2em;
    margin-bottom: 35px;
    color: #fff;
}

.casos p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.casos hr {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
}

.casos .grid {
    width: 100%;
    display: flex;
}

.casos .grid li {
    padding: 0 30px;
    text-align: center;
}

.casos .grid li i {
    color: #c3c63b;
    font-size: 3.5em;
    margin-bottom: 30px;
}

.casos .grid li h4 {
    font-size: 1.5em;
    color: #c3c63b;
    margin-bottom: 30px;
}

.casos .grid li p{
    color: #fff;
}

@media(max-width: 850px){
    .casos .grid{
        flex-direction: column;
    }
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.news h3{
    font-size: 2em;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.news p{
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.news hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}

.news form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.news input{
    padding: 15px;
    border: 1px solid #191c03;
    border-radius: 5px;
    margin-right: 15px;
    flex-grow: 1;
}

.news button{
    padding: 15px;
    border: none;
    background-color: #191c03;
    color: #c3c63b;
}

@media(max-width: 700px) {
    .news input {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 50px 0;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
}

footer ul li{
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li a{
    color: #c3c63b;
    font-size: 2rem;
}

footer p{
    color: #c3c63b;
    text-align: center;
}
